{% extends 'layout.twig' %}
{% block body %}
	New Reviewable
	<form action="{{ url_for('reviewables.new') }} " method="post">
		<fieldset>
			<legend>Global Info</legend>
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" required>
		</fieldset>

		<fieldset>
			<legend>Fields</legend>
			<button hx-get="/reviewables/new/field" hx-swap="beforeend" hx-target="#fields">Add field</button>
			<div id="fields" x-data="{ fieldId: 0 }"></div>
		</fieldset>

		<button type="submit">Submit</button>
	</form>

{% endblock %}
